<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.odin.dao.DBTableDao" >

    <select id="existTable" resultType="boolean" parameterType="string">
            select count(*) from user_tables
            where table_name = '${tableName}'
    </select>
    
  <update id="createTable" parameterType="string">
    create table ${tableName} (
      data_id       NUMBER(8) not null,
      device_id     VARCHAR2(40) not null,
      rev_time      NUMBER(20),
      longitude     NUMBER,
      latitude      NUMBER,
      mar_longitude NUMBER,
      mar_latitude  NUMBER,
      speed         NUMBER
    )
  </update>

</mapper>